.vscode/
.vs/
out/
obj/
bin/
lib/
.lib/
libs/
.libs/
.sbin/
out/
out-shared/
out-static/
*.ao
*.a
*.o
*.lo
libprotoc.a
libprotobuf.a
libprotoc.so.10.0.0
.deps/
CMakeFiles/
*.O
lib64/
crl_data/

